@media (prefers-color-scheme: dark) {
  a.item,
  nav,
  .aplayer .aplayer-info .aplayer-music .aplayer-title,
  .download-button,
  .loading-label,
  .markdown-body,
  .markdown-body code,
  .markdown-body pre,
  .markdown-body .highlight pre,
  .markdown-body table td,
  .markdown-body table th,
  .paginate-container span,
  .path a {
    color: #a2a2a2 !important;
  }
  body,
  div.fade-in-fwd,
  div.intro,
  div.medium-zoom-overlay,
  embed.pdfobject,
  img.medium-zoom-image {
    background: #1b1b1b !important;
  }
  embed.pdfobject,
  img.medium-zoom-image {
    opacity: 0.75 !important;
  }
  nav,
  .aplayer .aplayer-info,
  .items,
  .markdown-body,
  .markdown-body img {
    background: #131313 !important;
  }
  .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon:hover path {
    fill: #a2a2a2 !important;
  }
  .aplayer .aplayer-info .aplayer-music .aplayer-author,
  .path {
    color: #626262 !important;
  }
  .markdown-body code,
  .markdown-body pre,
  .markdown-body .highlight pre,
  .markdown-body table td,
  .markdown-body table th {
    background: #2b2b2b !important;
  }
  .token.atrule,
  .token.attr-value,
  .token.punctuation,
  .token.string {
    color: #afd5fb !important;
  }
  .language-css .token.string,
  .token.entity,
  .token.operator,
  .token.url {
    color: #89befa !important;
  }
}
